/* Estilos Globais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #090505;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: 	#635353;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

/* Título */
h1 {
    margin: 0 0 20px;
    font-size: 2.5em;
    animation: fadeIn 1s;
}

/* Botões */
.button {
    background-color: #721010;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #635353;
}

/* Efeito de animação */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

